* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

a {
    color: #333;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 418px;
    height: 736px;
    margin: auto;
    overflow: scroll;
    color: #1A202C;
    background-color: white;
    border: 2px solid black;
    border-radius: 2px;
}

.main-area {
    height: 630px;
    background-color: white;
}

.cities-area {
    height: 250px;
    background-color: white;
}

.slide-area {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    height: 280px;
    background-color: white;
    overflow: scroll;
}